12:22  I0gan say: hjkh
12:24  I0gan say: hjkh
12:24  I0gan say: hjkhhkjhkjhkj
12:24  I0gan say: jkhjh
12:26  I0gan say: asdfds
12:26  I0gan say: asdfasdf
12:26  I0gan say: asdfdsaf
12:26  I0gan say: asdfasdf
12:26  I0gan say: Hello ?
12:26  I0gan say: What Do you say?
12:28  I0gan say: asdfasd
12:28  I0gan say: asdfasdf
12:28  I0gan say: fasdfasdf
12:28  I0gan say: asdfasdf
12:41  I0gan say: asdfasdf
12:44  I0gan say: asdfasdf
12:44  I0gan say: afasdfasf
12:44  I0gan say: Hello He..
13:15  I0gan say: asdfasdf
13:15  I0gan say: asdfasdf
13:15  I0gan say: asdfasd
13:16  I0gan say: asfasdf
13:16  I0gan say: asdfasdf
13:16  I0gan say: asdfasdf
13:16  I0gan say: asdfasdfasd
13:16  I0gan say: asdfasdf
13:16  I0gan say: asdfasdf
13:16  I0gan say: asdfsdf
13:27  CCTV say: Hello
13:27  I0gan say: What?
13:27  I0gan say: What Funckkk you
13:39  I0gan say: asfasdf
13:39  CCTV say: Waht ?
13:39  I0gan say: sdfgsdf
13:39  CCTV say: sdfgsdfg
13:39  CCTV say: sdfgsdfg
13:52  CCTV say: Hello ?
13:52  I0gan say: Yeah Yeah 
13:52  I0gan say: I'm here
13:53  CCTV say: 嗦嘎
13:57  CCTV say: 有人吗
13:58  I0gan say: 有
13:58  I0gan say: 我加你为好友吧
13:58  CCTV say: 好的
14:23  CCTV say: 有人吗
14:23  I0gan say: 有人
14:23  I0gan say: 好吧
14:23  CCTV say: 有事吗？
14:23  I0gan say: 有哦
15:05  CCTV say: 有人吗
15:05  I0gan say: 有热门
15:05  I0gan say: asdfads
15:05  I0gan say: asdfasdf
15:05  I0gan say: asdfasdf
15:05  I0gan say: sdfg
15:05  CCTV say: a's
15:05  CCTV say: dasdf
15:10  I0gan say: asdf
15:10  LLLLOGAN say: asdfad
15:10  LLLLOGAN say: asdfasd
15:10  LLLLOGAN say: asdfasd
15:11  LLLLOGAN say: 你为什么不接受我?
15:11  I0gan say: 哦点错了
15:11  I0gan say: 在来一次
16:12  asdfasdf say: afasdfasd
16:12  asdfasdf say: asdfasdfasdf
16:12  asdfasdf say: asdfasdfasdfasdf
16:12  asdfasdf say: asdfasdfasdfasd
16:12  asdfasdf say: asdfasdfasdf
16:12  asdfasdf say: asdfasdfasdfasdf
16:23  asdfasd say: asdfasdf
16:23  asdfasd say: asdfasdf
16:24  asdfasd say: asdfasdfasdf
16:24  asdfasd say: asdfasdfasdfasd
16:24  asdfasd say: asdfasdfadsf
16:30  asdfasdf say: asdfasdf
16:30  asdfasdf say: asdfasdfsdf
16:30  asdfasdf say: asdfasdfasdf
16:31  asdfasdf say: asdfasdfasdf
16:31  asdfasdf say: asdfasdfasdf
16:31  asdfasdf say: asdfasdfasdf
16:31  asdfasdf say: asdfasdfasdf
16:31  asdfasdf say: asdfasdfas
16:31  asdfasdf say: asdfasdfas
16:31  asdfasdf say: asdfasdfadsf
17:10  LLLLOGAN say: asdfasdf
17:10  I Love YOu say: asdfasdf
17:10  LLLLOGAN say: 你这聊天软件不行啊
17:10  I Love YOu say: 有啥不行?
17:10  LLLLOGAN say: 我他妈的修改基本信息不提示
17:10  I Love YOu say: 哦哦
17:11  I Love YOu say: 我已经解决了
17:11  LLLLOGAN say: 真的?
17:11  LLLLOGAN say: 那为啥我的没有好友群人员列表
17:11  LLLLOGAN say: ?
17:11  I Love YOu say: 哦,我这里也出错了
17:12  I Love YOu say: 我修复修复...
17:12  LLLLOGAN say: 好的
17:35  asdfasdf say: asdfasd
17:48  HHHHEE say: 在吗?
17:59  LLLLOGAN say: asdfasf
17:59  LLLLOGAN say: asdfasdf
17:59  I Love YOu say: asdfasdf
17:59  I Love YOu say: asdfasdf
17:59  I Love YOu say: asdfasdf
17:59  LLLLOGAN say: asdfasdf
17:59  LLLLOGAN say: asdfasdf
17:59  I Love YOu say: adfadsf
18:14  HHHHEE say: asdfasdf
18:15  HHHHEE say: asdfasdf
18:15  HHHHEE say: asdfasdf
18:15  HHHHEE say: aasdfasdf
18:15  HHHHEE say: asdfasdf
18:15  HHHHEE say: asdfasd
18:15  HHHHEE say: fa
18:15  HHHHEE say: sdf
18:15  HHHHEE say: a
18:15  HHHHEE say: sdf
18:15  HHHHEE say: asd
18:15  HHHHEE say: f
18:15  HHHHEE say: asd
18:15  HHHHEE say: asdfasdf
18:15  HHHHEE say: asdfasdf
18:15  HHHHEE say: asdfa
18:15  HHHHEE say: sdf
18:15  HHHHEE say: asd
18:15  HHHHEE say: f
18:15  HHHHEE say: asd
18:15  HHHHEE say: f
18:15  HHHHEE say: asd
18:15  HHHHEE say: fdas
18:18  HHHHEE say: asdfasdf
18:18  HHHHEE say: asdfasdf
18:18  HHHHEE say: asdfasdf
18:18  HHHHEE say: asd
18:18  HHHHEE say: fas
18:18  HHHHEE say: f
18:18  HHHHEE say: as
18:18  HHHHEE say: df
18:18  HHHHEE say: asd
18:18  HHHHEE say: f
18:18  HHHHEE say: asd
18:18  HHHHE18:56  AAAACCCC say: 有人吗?
18:56  CCTV say: adfasdf
18:57  AAAACCCC say: 有
18:57  I0gan say: 呵呵
18:57  AAAACCCC say: 好了,我聊了
么拒绝我?
18:51  I0gan say: 认错了
18:51  I0gan say: 好了,我接受了,咋们私聊吧
EE say: df
18:21  HHHHEE say: as
18:21  HHHHEE say: df
18:21  HHHHEE say: as
18:21  HHHHEE say: df
18:21  HHHHEE say: as
18:21  HHHHEE say: df
18:21  HHHHEE say: as
18:21  HHHHEE say: df
18:21  HHHHEE say: asasdfasd
18:21  HHHHEE say: f
18:21  HHHHEE say: asdf
18:21  HHHHEE say: asd
18:21  HHHHEE say: f
18:21  HHHHEE say: as
18:21  HHHHEE say: df
18:21  HHHHEE say: as
18:21  HHHHEE say: df
